.page {
  max-width: 1600px;
  min-width: 1230px;
  background-color: #2a2c2f;
  color: #ffffff;
  font-family: "Inter", Tahoma, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0 auto;
}

@media screen and (max-width: 1280px) {
  .page {
    min-width: 964px
  }
}

@media screen and (max-width: 1024px) {
  .page {
    min-width: 718px
  }
}

@media screen and (max-width: 768px) {
  .page {
    min-width: 270px
  }
}
