.intro__list {
  width: 690px;
  line-height: 18px;
  font-size: 12px;
  font-weight: 200;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .intro__list {
    width: 100%;
  }
}

@media (min-width: 320px) and (max-width: 768px) {
  .intro__list {
    width: 100%;
  }
}